---
- name: Set system hostname
  hostname:
    name: "{{ target_hostname }}"

- name: Update /etc/hosts with new hostname
  lineinfile:
    path: /etc/hosts
    regexp: '^127.0.1.1'
    line: "127.0.1.1 {{ target_hostname }}"

- name: Install essential packages
  apt:
    name:
      - qemu-guest-agent
      - curl
      - apt-transport-https
      - ca-certificates
    state: present
    update_cache: yes

- name: Ensure QEMU Guest Agent is running
  service:
    name: qemu-guest-agent
    state: started
    enabled: yes

- name: Install Tailscale
  shell: "curl -fsSL https://tailscale.com/install.sh | sh"
  args:
    creates: /usr/bin/tailscale

- name: Connect to Tailscale
  command: "tailscale up --authkey={{ ts_authkey }} --hostname={{ target_hostname }}"
  environment:
    TS_AUTHKEY: "{{ ts_authkey }}"
  register: tailscale_result
  changed_when: "'Success' in tailscale_result.stdout"
  # We use a variable here instead of lookup so it's easier to pass from GitHub