---
- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Create a dummy landing page
  copy:
    content: "<h1>Hello! This is {{ target_hostname }} running on VLAN {{ vlan_tag | default('unknown') }}</h1>"
    dest: /var/www/html/index.html
    mode: '0644'

- name: Ensure Nginx is started
  service:
    name: nginx
    state: started
    enabled: yes