---
- name: "Global Infrastructure Configuration"
  hosts: all
  become: true
  vars:
    # We pull the authkey from the environment variable set in GitHub Action
    ts_authkey: "{{ lookup('env', 'TS_AUTHKEY') }}"
    # oo_user: "{{ lookup('env', 'OO_USER') }}"
    # oo_pass: "{{ lookup('env', 'OO_PASS') }}"
    # Sanitize OO_HOST to ensure it's just the IP/Hostname (strip http://, https://, and :port)
    oo_host: "{{ lookup('env', 'OO_HOST') | regex_replace('^https?://', '') | regex_replace(':[0-9]+$', '') }}"
  
  roles:
    - role: base_setup
    # This role only runs if you pass an app_role_name from GitHub
    - role: "{{ app_role_name }}"
      when: app_role_name is defined and app_role_name != ""